<p>Lista de animais</p>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Registro</th>
            <th>Valor</th>
            <th>Raca</th>
            <th>Ativo</th>
            <th>Id Vendedor</th>
            <th>Id Veterinario</th>

        </tr>

    </thead>

    <tbody>
        <tr *ngFor="let Animal of Animales">
            <td>{{Animal.id}}</td>
            <td>{{Animal.nome}}</td>
            <td>{{Animal.registro}}</td>
            <td>{{Animal.preco}}</td>
            <td>{{Animal.raca}}</td>
            <td>{{Animal.ativo}}</td>
            <td>{{Animal.id_vendedor}}</td>
            <td>{{Animal.id_veterinario}}</td>
        </tr>
    </tbody>
</table>
